@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buttons{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.contiener{
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    color: blue;
}
.menu li a:hover{
    color: chocolate;
}
.menu li a{
    text-decoration: none;
}
.like{
    cursor: pointer;
    color: rgb(28, 8, 8);
    
    
}
.like:hover{
    transform: scaleX(1);
    color: red;

}
.fa-solid:hover{
    cursor: pointer;
    color: red;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 10px;
}
.cards img{
    width: 100%;
}
.card h3{
    font-size: 19px;
    font-weight: 400;
}
.card{
    font-size: 19px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: start;
    gap: 50px;
    padding: 10px;
}
#API,#API1,#API2{
    background-color: #006afffa;
    height: 40px;
    width: 200px;
    border-radius: 12px;
    color: white;
    gap: 30px;
}
.btnn{
    width: 300px;
    height: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 0 auto;
}
.btnn{
    display: flex;
    width: 100%;
}
.card button{
    width: 80%;
    height:40px;
   border-radius: 10px;
    background-color: #006affc2;
    color: white;
    border: none;
    margin: 0 auto;
}
button:hover{
    background-color: #006afffa;
}
#view-cart{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
#view-cart:hover{
    background-color: rgb(10, 10, 71);
    box-shadow: 2px 2px black;
}
#yurak{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
#yurak:hover{
    background-color: rgb(10, 10, 71);
    box-shadow: 2px 2px black;
}