
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap");

*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}            

body{ 
    
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 20px 40px; 
}

.Btn{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    background-color: red;
    padding: 10px;
}
button:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
    box-shadow: 2px 2px 2px  darkgreen;
}
button{

    font-family: 'Raleway', sans-serif;
    width: 300px;
    font-weight: 700;
    height: 50px;
    background-color: white;
    color: red;
    border-radius: 22px;
    transition: 0.4s;
    border: 5px solid white;
}
img{
    width: 100%;
    
}
p{
    font-size: 22px;
    color: rgb(32, 190, 32);
}
span{
    background-color: yellow;
    color: black;
}

.title{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
}
